<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <!--Import jQuery before materialize.js-->
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class='erros'>
    </div>
        <form class="col s12 m8 l6" action="/atividades/salva_edicao" method="post">
        <div>
            <input type="hidden" name="id" value="<%=atividade[0].id%>"/>
        </div>
        <div class="row">
            <div class="input-field col s8 m12 l8">
                <label for="titulo">Título</label>
                <input class="validate" type="text" id="titulo" name="titulo" value="<%=atividade[0].titulo%>" placeholder="coloque o título aqui"/>
            </div>
            </div>
                    <div class="row">
        <div class="input-field col s8 m12 l8">
            <label for="descricao">Descrição</label>
            <textarea class="materialize-textarea" type="text" id="descricao" name="descricao" placeholder="coloque a descrição aqui" cols="20" rows="10"><%=atividade[0].descricao%></textarea>
            </div>
        </div>
        <div class="row">
        <div class="input-field col s8 m12 l8">
            <label for="prioridade">Prioridade</label>
            <select name="prioridade">
                <option value="Mínima">
                    Mínima</option>
                    <option value="Mediana">
                        Mediana</option>
                        <option value="Máxima">
                            Máxima</option>

                        </select>
                    </div>
                </div>
                <div class="row">
                   <div class="input-field col s12 m6">
                    <input class="btn" type="submit" value="Cadastrar"/>
                </div></div>
            </form>
            </div>
    <main>
      <footer>
        <% include ../partials/footer %>
    </footer>
    </body>
    </html>
